.headline
{
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

#hatIMG
{
	display: block;
	margin: auto;
	height: 400px;
}

#bookIMG
{
	display: block;
	margin: auto;
	margin-top: 3em;
	height: 250px;
}

#storeCol
{
	border-right: 3px;
	border-style: solid;
	border-color: #91e8e5;

	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
}