.subbullet
{
	list-style-type: none;
}

#infoList > *
{
	margin-top: 0.3rem;
	font-size: 0.9rem;
}

#pointIMG
{
	width: 300px;
	display: inline;
}

#eventTable
{
	font-size: 0.9rem;
}

th
{
	width: 5.5rem;
}